<div class="jumbotron">
  <h1>About MyRecipes</h1>
</div>

<div class="container">
  <h2>What is MyRecipes?</h2>

  <p>MyRecipes is a growing space to share recipes for everyone - from begginers to
  	 skilled chefs - who like to cock and show their best and fun meals.  
  </p>	
</div>