<div class="jumbotron center">
	<h1>Welcome to MyRecipes</h1>
	<h2>The best recipe sharing app!</h2>
	<p>
		<%= link_to "Sign Up or Log In", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
	</p>
</div>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">

        <h2>Hate doing the Dishes?</h2>

        <p>Whether you like cooking, love it or are indifferent to the task, most of us can agree that washing a lot of pots and pans after dinner is a drag. Wouldn’t it instead be easier if there was really only one? 
        Check out our one-pot meals!</p>
        <p><a class="btn btn-secondary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>What's for Dinner?</h2>
        <p>We’ve gathered all of the most-loved, highest-rated dinner recipes in our MyRecipes collection. These yummy dinner ideas are the best of the best!</p>
        <p><a class="btn btn-secondary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Master Crucial Skills</h2>
        <p>If you’re just getting started in the kitchen, you may feel overwhelmed or intimidated, but remember that cooking is like anything else: The more you practice, the better you will become. Start by mastering these beginner cooking skills.</p>
        <p><a class="btn btn-secondary btn-xlarge" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->


