  <footer class="primary-footer">
    
    <div class="container">
    <div class="row">
      <div class="col-md-4">	

      </div>
      <div class="col-md-4 center grid">
        <span>
          2020 <small>&copy; jazzari</small>    
          <a href="https://github.com/jazzari">Visit my GitHub</a>
        </span>
      </div>
      <div class="col-md-4 right grid">
        <%= link_to "About", pages_about_path %>
      </div>
    </div>
    </div>
  </footer>